/* gravity form styling */
.gform_wrapper {

    .gform_body {
      li.gfmc-column {
        ul {
          margin-top: 0px;
          margin-bottom: 0px;
          li {
            margin-top: 0px;
            margin-bottom: 0px;
            input {
              margin-top: 0px;
              margin-bottom: 0px;
            }
          }
        }
      }
    } // body

	.gform_footer {

	 /*	input[type=submit] { //  Submit & save for later  look like buttons on the site.
			  color: white;
		    padding: 6px 20px;
		    border-width: 0px;
		    font-size: 20px!important;
		    text-align: center;
		    cursor: pointer;
				background-color: $ats_orange;
				//line-height: 1.7em;
			}
			.gform_save_link {
				border-width: 2px;
			} */
	} // gform footer
} // gform wrapper
