/* styling for the jquery News ticker plugin */
.gticker-wrapper.has-js {
    font-size: 20px;
    line-height: 22px;
    height: 40px!important;
    background-color: white;
    .gticker {
        height: 40px!important;
        .gticker-content {

        }
        .gticker-swipe {
            height: 40px!important;
            background-color: white;
        }
    }

}
.gticker-wrapper.has-js:after {
    clear: both;
}
/* end of styling for jquery News ticker */
