/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors:

$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$stduns-lightblue: #e3e9ff;

/* Typography ------------------------------------------ */
.stduns-hdr-button a {
	color: white;
}
.stduns-hdr-button a:hove {
	color: rgba(102,102,102,0.85);
}
