/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

/* Typography ------------------------------------------ */
